Download and import the Data Science Job Salary dataset.
Normalize the ‘salary’ column using Min-Max normalization.
Implement dimensionality reduction on the dataset.
Aggregate data by ‘experience_level’, calculating average and median salaries.

In [3]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.decomposition import PCA
df = pd.read_csv('/content/datascience_salaries.csv')
print(df.head())
scaler = MinMaxScaler()
df['salary_normalized'] = scaler.fit_transform(df[['salary']])
print("\nSalary column after Min-Max normalization:")
print(df[['salary', 'salary_normalized']].head())
numerical_cols = df.select_dtypes(include=['float64', 'int64']).columns
pca = PCA(n_components=2)
df_pca = pca.fit_transform(df[numerical_cols])
df_pca = pd.DataFrame(df_pca, columns=['PCA1', 'PCA2'])
print("\nPCA result:")
print(df_pca.head())
salary_aggregates = df.groupby('experience_level')['salary'].agg(['mean', 'median'])
print("\nAggregated salary data by experience level:")
print(salary_aggregates)

   Unnamed: 0       job_title   job_type experience_level       location  \
0           0  Data scientist  Full Time           Senior  New York City
1           2  Data scientist  Full Time           Senior         Boston
2           3  Data scientist  Full Time           Senior         London
3           4  Data scientist  Full Time           Senior         Boston
4           5  Data scientist  Full Time           Senior  New York City

  salary_currency  salary
0             USD  149000
1             USD  120000
2             USD   68000
3             USD  120000
4             USD  149000

Salary column after Min-Max normalization:
   salary  salary_normalized
0  149000           0.601010
1  120000           0.454545
2   68000           0.191919
3  120000           0.454545
4  149000           0.601010

PCA result:
           PCA1        PCA2
0  84163.766081 -949.193183
1  55163.767131 -941.138351
2   3163.768472 -929.281412
3  55163.767548 -939.138352
4  84163.767125 -944.193183

Aggregated salary data by experience level:
                          mean   median
experience_level
Entry             36111.111111  30000.0
Executive         76076.923077  46000.0
Mid               51786.885246  51000.0
Senior            75088.033012  68000.0