ðŸŒŸ Exercise 1: Identifying Data Types
Below are various data sources. Identify whether each one is an example of structured or unstructured data.

A companyâ€™s financial reports stored in an Excel file.

Photographs uploaded to a social media platform.

A collection of news articles on a website.

Inventory data in a relational database.

Recorded interviews from a market research study.



	1.	A companyâ€™s financial reports stored in an Excel file:
	â€¢	Data Type: Structured Data
	2.	Photographs uploaded to a social media platform:
	â€¢	Data Type: Unstructured Data
	3.	A collection of news articles on a website:
	â€¢	Data Type: Unstructured Data
	4.	Inventory data in a relational database:
	â€¢	Data Type: Structured Data
	5.	Recorded interviews from a market research study:
	â€¢	Data Type: Unstructured Data

ðŸŒŸ Exercise 2: Transformation Exercise
For each of the following unstructured data sources, propose a method to convert it into structured data. Explain your reasoning.

A series of blog posts about travel experiences.

Audio recordings of customer service calls.

Handwritten notes from a brainstorming session.

A video tutorial on cooking.

1.A series of blog posts about travel experiences.

Method: extracting key information

Read through rhe blog posts and pick out important details like location, dates, events and costs. Then organize this information into a table with likewise columns.

2.Audio recordings of customer service calls.

Method: Speech-to-Text conversion and categorization

Convert the audio to text using speech recognition software. Categorize the content, such as Complaints, Product Inquiries, and Service Requests. Organize this data into a table

3.Handwritten notes from a brainstorming session.

Method: Text conversion and idea organization

Use OCR (Optical Character Recognition) software to convert the handwritten notes into digital text. Organize the ideas and create a table with columns like Idea, Category, Person, and Priority.

4.A video tutorial on cooking.

Method: transcription and Step-by-Step breakdown

Convert the audio from the video into text. Then, break down the recipe into individual steps, listing the ingredients, quantities, and cooking techniques. Organize this into a table with columns

ðŸŒŸ Exercise 3: Application Scenario
You are a data analyst at a retail company. You have access to various data sources, including transaction records, customer feedback comments, social media posts about your brand, and employee work schedules.

Categorize each of these data sources as structured or unstructured.
Suggest how you might use each type of data for improving the companyâ€™s business operations.

1. Transaction Records

Type: Structured Data

Transaction records typically include details like product IDs, prices, quantities, dates, and customer information. Analyze this data to identify sales trends, determine the most popular products, optimize inventory levels, and adjust pricing strategies

2. Customer Feedback Comments

Type: Unstructured Data

Customer feedback comments often come in the form of free text, making them unstructured. Possible to use sentiment analysis to gather overall customer satisfaction, identify common complaints, and understand what aspects of service or products customers like or dislike.

3. Social Media Posts About Your Brand

Type: Unstructured Data

Social media posts are another form of unstructured data. Analyzing these posts can provide insights into brand perception, customer sentiment, and emerging trends,adust marketing strategies based on what customers are saying online.

4. Employee Work Schedules

Type: Structured Data

Employee work schedules are structured data. Analyzing this data can help you optimize staffing levels to ensure that  stores are adequately staffed during peak hours and not overstaffed during slow periods.

ðŸŒŸ Exercise 4 : Import a file from Kaggle
Import the titanic dataset that you can find on Kaggle.

Print the first few rows of the DataFrame.

In [ ]:
import pandas as pd
titanic_df = pd.read_csv('/content/titanic_ds.csv')
print(titanic_df.head())

   PassengerId  Survived  Pclass  \
0          892         0       3
1          893         1       3
2          894         0       2
3          895         0       3
4          896         1       3

                                           Name     Sex   Age  SibSp  Parch  \
0                              Kelly, Mr. James    male  34.5      0      0
1              Wilkes, Mrs. James (Ellen Needs)  female  47.0      1      0
2                     Myles, Mr. Thomas Francis    male  62.0      0      0
3                              Wirz, Mr. Albert    male  27.0      0      0
4  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female  22.0      1      1

    Ticket     Fare Cabin Embarked
0   330911   7.8292   NaN        Q
1   363272   7.0000   NaN        S
2   240276   9.6875   NaN        Q
3   315154   8.6625   NaN        S
4  3101298  12.2875   NaN        S

ðŸŒŸ Exercise 5: Importing a CSV File
Use the Iris Dataset CSV.

Download the Iris dataset CSV file and place it in the same directory as your Jupyter Notebook.
Import the CSV file using Pandas.
Display the first five rows of the dataset

In [ ]:
iris_ds = pd.read_csv('/content/iris_ds.csv')
print(iris_ds.head())

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

ðŸŒŸ Exercise 6 : Export a dataframe to excel format and JSON format.
Create a simple dataframe.
Export the dataframe to an excel file.
Export the dataframe to a JSON file.

In [ ]:
data = {
    'Name': ['John', 'Christine', 'Jake',],
    'Age': [17 ,18, 24],
    'Occupancy': ['Footbal player', 'Painter', 'Photographer']
}
df = pd.DataFrame(data)
print(df)
df.to_excel('simpledf.xlsx', index=False)
df.to_json('simpledf.json')

        Name  Age       Occupancy
0       John   17  Footbal player
1  Christine   18         Painter
2       Jake   24    Photographer


ðŸŒŸ Exercise 7: Reading JSON Data
Use a sample JSON dataset

Import the JSON data from the provided URL.
Use Pandas to read the JSON data.
Display the first five entries of the data.

In [ ]:
import requests

url = 'https://jsonplaceholder.typicode.com/posts'
response = requests.get(url)
json_data = response.json()

df = pd.DataFrame(json_data)
print(df.head())

   userId  id                                              title  \
0       1   1  sunt aut facere repellat provident occaecati e...
1       1   2                                       qui est esse
2       1   3  ea molestias quasi exercitationem repellat qui...
3       1   4                               eum et est occaecati
4       1   5                                 nesciunt quas odio

                                                body
0  quia et suscipit\nsuscipit recusandae consequu...
1  est rerum tempore vitae\nsequi sint nihil repr...
2  et iusto sed quo iure\nvoluptatem occaecati om...
3  ullam et saepe reiciendis voluptatem adipisci\...
4  repudiandae veniam quaerat sunt sed\nalias aut...