Dataset
In these exercises, we‚Äôre going to experiment with the Chinook sample DB while using SQLAlchemy module

First, run the code below to download the database locally



### download and extract chinook sample DB
import urllib.request
import zipfile
from functools import partial
import os

chinook_url = 'http://www.sqlitetutorial.net/wp-content/uploads/2018/03/chinook.zip'
if not os.path.exists('chinook.zip'):
    print('downloading chinook.zip ', end='')
    with urllib.request.urlopen(chinook_url) as response:
        with open('chinook.zip', 'wb') as f:
            for data in iter(partial(response.read, 4*1024), b''):
                print('.', end='', flush=True)
                f.write(data)

zipfile.ZipFile('chinook.zip').extractall()
assert os.path.exists('chinook.db')


The helper methods below will help, you may use for the following exercises :



### useful: functions for displaying results from sql queries using pandas
from IPython.display import display
import pandas as pd

def sql(query):
    print()
    print(query)
    print()

def get_results(query):
    global engine
    q = query.statement if isinstance(query, sqlalchemy.orm.query.Query) else query
    return pd.read_sql(q, engine)

def display_results(query):
    df = get_results(query)
    display(df)
    sql(query)



üåü Exercise 1 : Open the database
open the database using sqlalchemy module interface. create an engine object in a variable named engine
call the connect() method to obtain a connection and place in a variable named cur
now run the code below to to run reflecton on the database, prepare classes that map to the database and create an orm session :

### useful: extract classes from the chinook database
metadata = sqlalchemy.MetaData()
metadata.reflect(engine)

## we need to do this once
from sqlalchemy.ext.automap import automap_base

# produce a set of mappings from this MetaData.
Base = automap_base(metadata=metadata)

# calling prepare() just sets up mapped classes and relationships.
Base.prepare()

# also prepare an orm session
from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind=engine)
session = Session()

In [2]:
from IPython.display import display
import pandas as pd

def sql(query):
    print()
    print(query)
    print()

def get_results(query):
    global engine
    q = query.statement if isinstance(query, sqlalchemy.orm.query.Query) else query
    return pd.read_sql(q, engine)

def display_results(query):
    df = get_results(query)
    display(df)
    sql(query)

In [3]:
### useful: extract classes from the chinook database
metadata = sqlalchemy.MetaData()
metadata.reflect(engine)

## we need to do this once
from sqlalchemy.ext.automap import automap_base

# produce a set of mappings from this MetaData.
Base = automap_base(metadata=metadata)

# calling prepare() just sets up mapped classes and relationships.
Base.prepare()

# also prepare an orm session
from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind=engine)
session = Session()

NameError: name 'sqlalchemy' is not defined

In [9]:
import sqlalchemy
from sqlalchemy.orm import sessionmaker
from sqlalchemy.ext.automap import automap_base
import pandas as pd

# –ü—Ä–∞–≤–∏–ª—å–Ω—ã–π –ø—É—Ç—å –∫ –±–∞–∑–µ –¥–∞–Ω–Ω—ã—Ö
db_path = '/content/chinook.db'

# –°–æ–∑–¥–∞–µ–º –¥–≤–∏–∂–æ–∫ SQLAlchemy –¥–ª—è —Ä–∞–±–æ—Ç—ã —Å –ª–æ–∫–∞–ª—å–Ω–æ–π –±–∞–∑–æ–π –¥–∞–Ω–Ω—ã—Ö
engine = sqlalchemy.create_engine(f'sqlite:///{db_path}')

# –£—Å—Ç–∞–Ω–∞–≤–ª–∏–≤–∞–µ–º —Å–æ–µ–¥–∏–Ω–µ–Ω–∏–µ —Å –±–∞–∑–æ–π –¥–∞–Ω–Ω—ã—Ö
connection = engine.connect()

# –û—Ç–æ–±—Ä–∞–∂–∞–µ–º (—Ä–µ—Ñ–ª–µ–∫—Ç–∏–º) –º–µ—Ç–∞–¥–∞–Ω–Ω—ã–µ –±–∞–∑—ã –¥–∞–Ω–Ω—ã—Ö
metadata = sqlalchemy.MetaData()
metadata.reflect(bind=engine)

# –ü–æ–¥–≥–æ—Ç–∞–≤–ª–∏–≤–∞–µ–º –∫–ª–∞—Å—Å—ã, –æ—Ç–æ–±—Ä–∞–∂–∞—é—â–∏–µ —Ç–∞–±–ª–∏—Ü—ã –±–∞–∑—ã –¥–∞–Ω–Ω—ã—Ö
Base = automap_base(metadata=metadata)
Base.prepare()

# –°–æ–∑–¥–∞–µ–º ORM-—Å–µ—Å—Å–∏—é
Session = sessionmaker(bind=engine)
session = Session()

# –§—É–Ω–∫—Ü–∏–∏ –¥–ª—è –≤—ã–ø–æ–ª–Ω–µ–Ω–∏—è SQL-–∑–∞–ø—Ä–æ—Å–æ–≤ –∏ –æ—Ç–æ–±—Ä–∞–∂–µ–Ω–∏—è —Ä–µ–∑—É–ª—å—Ç–∞—Ç–æ–≤
def sql(query):
    print()
    print(query)
    print()

def get_results(query):
    q = query.statement if isinstance(query, sqlalchemy.orm.query.Query) else query
    return pd.read_sql(q, engine)

def display_results(query):
    df = get_results(query)
    display(df)
    sql(query)

In [10]:
table_names = metadata.tables.keys()

for table_name in table_names:
    print(table_name)

albums
artists
customers
employees
genres
invoice_items
tracks
media_types
invoices
playlist_track
playlists

In [12]:
Tracks = Base.classes.tracks

first_three_tracks = session.query(Tracks).limit(3).all()

print("Fitst three tracks:")
for track in first_three_tracks:
    print(f"ID: {track.TrackId}, Name: {track.Name}, Album ID: {track.AlbumId}, Length: {track.Milliseconds} –ºs")

Fitst three tracks:
ID: 1, Name: For Those About To Rock (We Salute You), Album ID: 1, Length: 343719 –º—Å
ID: 2, Name: Balls to the Wall, Album ID: 2, Length: 342562 –º—Å
ID: 3, Name: Fast As a Shark, Album ID: 3, Length: 230619 –º—Å

In [14]:
Tracks = Base.classes.tracks
Albums = Base.classes.albums

query = session.query(Tracks.Name, Albums.Title).join(Albums, Tracks.AlbumId == Albums.AlbumId).limit(20)

print("FFirst 20 tracks and their albums:")
for track_name, album_title in query:
    print(f"Track: {track_name}, Album: {album_title}")

FFirst 20 tracks and their albums:
Track: For Those About To Rock (We Salute You), Album: For Those About To Rock We Salute You
Track: Put The Finger On You, Album: For Those About To Rock We Salute You
Track: Let's Get It Up, Album: For Those About To Rock We Salute You
Track: Inject The Venom, Album: For Those About To Rock We Salute You
Track: Snowballed, Album: For Those About To Rock We Salute You
Track: Evil Walks, Album: For Those About To Rock We Salute You
Track: C.O.D., Album: For Those About To Rock We Salute You
Track: Breaking The Rules, Album: For Those About To Rock We Salute You
Track: Night Of The Long Knives, Album: For Those About To Rock We Salute You
Track: Spellbound, Album: For Those About To Rock We Salute You
Track: Balls to the Wall, Album: Balls to the Wall
Track: Fast As a Shark, Album: Restless and Wild
Track: Restless and Wild, Album: Restless and Wild
Track: Princess of the Dawn, Album: Restless and Wild
Track: Go Down, Album: Let There Be Rock
Track: Dog Eat Dog, Album: Let There Be Rock
Track: Let There Be Rock, Album: Let There Be Rock
Track: Bad Boy Boogie, Album: Let There Be Rock
Track: Problem Child, Album: Let There Be Rock
Track: Overdose, Album: Let There Be Rock

In [15]:
InvoiceItems = Base.classes.invoice_items
Tracks = Base.classes.tracks

query = session.query(Tracks.Name, InvoiceItems.Quantity).join(Tracks, InvoiceItems.TrackId == Tracks.TrackId).limit(10)

print("First 10 sales:")
for track_name, quantity in query:
    print(f"Track: {track_name}, QTY Sold {quantity}")

First 10 sales:
Track: Balls to the Wall, QTY Sold 1
Track: Restless and Wild, QTY Sold 1
Track: Put The Finger On You, QTY Sold 1
Track: Inject The Venom, QTY Sold 1
Track: Evil Walks, QTY Sold 1
Track: Breaking The Rules, QTY Sold 1
Track: Dog Eat Dog, QTY Sold 1
Track: Overdose, QTY Sold 1
Track: Love In An Elevator, QTY Sold 1
Track: Janie's Got A Gun, QTY Sold 1

In [16]:
# –ü–æ–ª—É—á–∞–µ–º –∫–ª–∞—Å—Å—ã –¥–ª—è —Ç–∞–±–ª–∏—Ü 'invoice_items' –∏ 'tracks'
InvoiceItems = Base.classes.invoice_items
Tracks = Base.classes.tracks

query = session.query(Tracks.Name, sqlalchemy.func.sum(InvoiceItems.Quantity).label('total_sold'))\
               .join(Tracks, InvoiceItems.TrackId == Tracks.TrackId)\
               .group_by(Tracks.Name)\
               .order_by(sqlalchemy.desc('total_sold'))\
               .limit(10)

print("Top 10 mnost selling tracks:")
for track_name, total_sold in query:
    print(f"Track: {track_name}, Times sold: {total_sold}")

Top 10 mnost selling tracks:
Track: The Trooper, Times sold: 5
Track: Untitled, Times sold: 4
Track: The Number Of The Beast, Times sold: 4
Track: Sure Know Something, Times sold: 4
Track: Hallowed Be Thy Name, Times sold: 4
Track: Eruption, Times sold: 4
Track: Where Eagles Dare, Times sold: 3
Track: Welcome Home (Sanitarium), Times sold: 3
Track: Sweetest Thing, Times sold: 3
Track: Surrender, Times sold: 3

In [17]:
InvoiceItems = Base.classes.invoice_items
Tracks = Base.classes.tracks
Albums = Base.classes.albums
Artists = Base.classes.artists

query = session.query(Artists.Name, sqlalchemy.func.sum(InvoiceItems.Quantity).label('total_sold'))\
               .join(Tracks, InvoiceItems.TrackId == Tracks.TrackId)\
               .join(Albums, Tracks.AlbumId == Albums.AlbumId)\
               .join(Artists, Albums.ArtistId == Artists.ArtistId)\
               .group_by(Artists.Name)\
               .order_by(sqlalchemy.desc('total_sold'))\
               .limit(10)

# –í—ã–≤–µ–¥–µ–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç
print("Top 10 most selling artists:")
for artist_name, total_sold in query:
    print(f"Artist: {artist_name}, Tracks sold: {total_sold}")

Top 10 most selling artists:
Artist: Iron Maiden, Tracks sold: 140
Artist: U2, Tracks sold: 107
Artist: Metallica, Tracks sold: 91
Artist: Led Zeppelin, Tracks sold: 87
Artist: Os Paralamas Do Sucesso, Tracks sold: 45
Artist: Deep Purple, Tracks sold: 44
Artist: Faith No More, Tracks sold: 42
Artist: Lost, Tracks sold: 41
Artist: Eric Clapton, Tracks sold: 40
Artist: R.E.M., Tracks sold: 39