ðŸŒŸ Exercise 1: Duplicate Detection and Removal
Instructions
Objective: Identify and remove duplicate entries in the Titanic dataset.

Load the Titanic dataset.
Identify if there are any duplicate rows based on all columns.
Remove any duplicate rows found in the dataset.
Verify the removal of duplicates by checking the number of rows before and after the duplicate removal.
Hint: Use the duplicated() and drop_duplicates() functions in Pandas.

In [2]:
import pandas as pd
df = pd.read_csv('/content/titanic_ds.csv')
duplicates = df.duplicated()
duplicates_qty = duplicates.sum()
rows_before = df.shape[0]
df = df.drop_duplicates()
rows_after = df.shape[0]
print(f"Number of rows before: {rows_before}")
print(f"Number of rows after: {rows_after}")
print(f"Number of duplicate rows: {df.duplicated().sum()}")

Number of rows before: 418
Number of rows after: 418
Number of duplicate rows: 0

ðŸŒŸ Exercise 2: Handling Missing Values
Instructions
Identify columns in the Titanic dataset with missing values.
Explore different strategies for handling missing data, such as removal, imputation, and filling with a constant value.
Apply each strategy to different columns based on the nature of the data.
Hint: Review methods like dropna(), fillna(), and SimpleImputer from scikit-learn.

In [ ]:
from sklearn.impute import SimpleImputer
df = pd.read_csv('/content/titanic_ds.csv')
missing_values = df.isnull().sum()
print("Columns with missing values:\n", missing_values[missing_values > 0])
# Strategy 1: Removal
df_dropped = df.dropna()
# Strategy 2: Imputation
num_cols = df.select_dtypes(include=['float64', 'int64']).columns
imputer_num = SimpleImputer(strategy='mean')
df[num_cols] = imputer_num.fit_transform(df[num_cols])
# Strategy 3: Filling with a constant value
df['Age'] = df['Age'].fillna(0)
df['Embarked'] = df['Embarked'].fillna('Unknown')
print("Data after handling missing values:")
print(df.head())

Columns with missing values:
 Age       86
Fare       1
Cabin    327
dtype: int64
Data after handling missing values:
   PassengerId  Survived  Pclass  \
0        892.0       0.0     3.0
1        893.0       1.0     3.0
2        894.0       0.0     2.0
3        895.0       0.0     3.0
4        896.0       1.0     3.0

                                           Name     Sex   Age  SibSp  Parch  \
0                              Kelly, Mr. James    male  34.5    0.0    0.0
1              Wilkes, Mrs. James (Ellen Needs)  female  47.0    1.0    0.0
2                     Myles, Mr. Thomas Francis    male  62.0    0.0    0.0
3                              Wirz, Mr. Albert    male  27.0    0.0    0.0
4  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female  22.0    1.0    1.0

    Ticket     Fare Cabin Embarked
0   330911   7.8292   NaN        Q
1   363272   7.0000   NaN        S
2   240276   9.6875   NaN        Q
3   315154   8.6625   NaN        S
4  3101298  12.2875   NaN        S
Shape after dropping rows: (87, 12)

ðŸŒŸ Exercise 3: Feature Engineering
Instructions
Create new features, such as Family Size from SibSp and Parch, and Title extracted from the Name column.
Convert categorical variables into numerical form using techniques like one-hot encoding or label encoding.
Normalize or standardize numerical features if required.
Hint: Utilize Pandas for data manipulation and scikit-learnâ€™s preprocessing module for encoding.

In [ ]:
from sklearn.preprocessing import OneHotEncoder, StandardScaler
df = pd.read_csv('/content/titanic_ds.csv')
df['Family_Size'] = df['SibSp'] + df['Parch'] + 1
df['Title'] = df['Name'].apply(lambda x: x.split(',')[1].split('.')[0].strip())
print(df[['Name', 'Family_Size', 'Title']].head())
df = pd.get_dummies(df, columns=['Sex', 'Embarked', 'Title'])
print(df.head())

                                           Name  Family_Size Title
0                              Kelly, Mr. James            1    Mr
1              Wilkes, Mrs. James (Ellen Needs)            2   Mrs
2                     Myles, Mr. Thomas Francis            1    Mr
3                              Wirz, Mr. Albert            1    Mr
4  Hirvonen, Mrs. Alexander (Helga E Lindqvist)            3   Mrs
   PassengerId  Survived  Pclass  \
0          892         0       3
1          893         1       3
2          894         0       2
3          895         0       3
4          896         1       3

                                           Name   Age  SibSp  Parch   Ticket  \
0                              Kelly, Mr. James  34.5      0      0   330911
1              Wilkes, Mrs. James (Ellen Needs)  47.0      1      0   363272
2                     Myles, Mr. Thomas Francis  62.0      0      0   240276
3                              Wirz, Mr. Albert  27.0      0      0   315154
4  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  22.0      1      1  3101298

      Fare Cabin  ...  Embarked_S  Title_Col  Title_Dona  Title_Dr  \
0   7.8292   NaN  ...       False      False       False     False
1   7.0000   NaN  ...        True      False       False     False
2   9.6875   NaN  ...       False      False       False     False
3   8.6625   NaN  ...        True      False       False     False
4  12.2875   NaN  ...        True      False       False     False

   Title_Master  Title_Miss  Title_Mr  Title_Mrs  Title_Ms  Title_Rev
0         False       False      True      False     False      False
1         False       False     False       True     False      False
2         False       False      True      False     False      False
3         False       False      True      False     False      False
4         False       False     False       True     False      False

[5 rows x 25 columns]

ðŸŒŸ Exercise 4: Outlier Detection and Handling
Instructions
Use statistical methods to detect outliers in columns like Fare and Age.
Decide on a strategy to handle the identified outliers, such as capping, transformation, or removal.
Implement the chosen strategy and assess its impact on the dataset.
Hint: Explore methods like IQR (Interquartile Range) and Z-score for outlier detection.

In [2]:
import pandas as pd
import numpy as np
from scipy import stats
df = pd.read_csv('/content/titanic_ds.csv')
def detect_outliers_iqr(df, column):
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    outliers = df[(df[column] < lower_bound) | (df[column] > upper_bound)]
    return outliers
fare_outliers = detect_outliers_iqr(df, 'Fare')
age_outliers = detect_outliers_iqr(df, 'Age')

print("Fare outliers using IQR:\n", fare_outliers)
print("Age outliers using IQR:\n", age_outliers)

def cap_outliers(df, column):
    lower_cap = df[column].quantile(0.01)
    upper_cap = df[column].quantile(0.99)
    df[column] = np.where(df[column] < lower_cap, lower_cap, df[column])
    df[column] = np.where(df[column] > upper_cap, upper_cap, df[column])

cap_outliers(df, 'Fare')
cap_outliers(df, 'Age')

print("\nAfter capping outliers:")
print(df[['Fare', 'Age']].describe())

Fare outliers using IQR:
      PassengerId  Survived  Pclass  \
12           904         1       1
24           916         1       1
48           940         1       1
53           945         1       1
59           951         1       1
64           956         0       1
69           961         1       1
74           966         1       1
75           967         0       1
81           973         0       1
96           988         1       1
114         1006         1       1
118         1010         0       1
141         1033         1       1
142         1034         0       1
150         1042         1       1
156         1048         1       1
179         1071         1       1
181         1073         0       1
184         1076         1       1
188         1080         1       3
196         1088         0       1
202         1094         0       1
212         1104         0       2
217         1109         0       1
218         1110         1       1
234         1126         0       1
236         1128         0       1
239         1131         1       1
242         1134         0       1
252         1144         0       1
270         1162         0       1
272         1164         1       1
287         1179         0       1
293         1185         0       1
306         1198         0       1
308         1200         0       1
314         1206         1       1
316         1208         0       1
324         1216         1       1
327         1219         0       1
342         1234         0       3
343         1235         1       1
352         1244         0       2
360         1252         0       3
365         1257         1       3
371         1263         1       1
374         1266         1       1
375         1267         1       1
390         1282         0       1
397         1289         1       1
400         1292         1       1
407         1299         0       1
411         1303         1       1
414         1306         1       1

                                                  Name     Sex   Age  SibSp  \
12       Snyder, Mrs. John Pillsbury (Nelle Stevenson)  female  23.0      1
24     Ryerson, Mrs. Arthur Larned (Emily Maria Borie)  female  48.0      1
48     Bucknell, Mrs. William Robert (Emma Eliza Ward)  female  60.0      0
53                          Fortune, Miss. Ethel Flora  female  28.0      3
59                         Chaudanson, Miss. Victorine  female  36.0      0
64                         Ryerson, Master. John Borie    male  13.0      2
69                 Fortune, Mrs. Mark (Mary McDougald)  female  60.0      1
74                                Geiger, Miss. Amalie  female  35.0      0
75                                  Keeping, Mr. Edwin    male  32.5      0
81                                  Straus, Mr. Isidor    male  67.0      1
96   Cavendish, Mrs. Tyrell William (Julia Florence...  female  76.0      1
114             Straus, Mrs. Isidor (Rosalie Ida Blun)  female  63.0      1
118                               Beattie, Mr. Thomson    male  36.0      0
141                               Daniels, Miss. Sarah  female  33.0      0
142                         Ryerson, Mr. Arthur Larned    male  61.0      1
150              Earnshaw, Mrs. Boulton (Olive Potter)  female  23.0      0
156                                  Bird, Miss. Ellen  female  29.0      0
179  Compton, Mrs. Alexander Taylor (Mary Eliza Ing...  female  64.0      0
181                   Compton, Mr. Alexander Taylor Jr    male  37.0      1
184  Douglas, Mrs. Frederick Charles (Mary Helene B...  female  27.0      1
188                                    Sage, Miss. Ada  female   NaN      8
196                    Spedden, Master. Robert Douglas    male   6.0      0
202                             Astor, Col. John Jacob    male  47.0      1
212                          Deacon, Mr. Percy William    male  17.0      0
217                           Wick, Mr. George Dennick    male  57.0      1
218       Widener, Mrs. George Dunton (Eleanor Elkins)  female  50.0      1
234                          Cumings, Mr. John Bradley    male  39.0      1
236                           Warren, Mr. Frank Manley    male  64.0      1
239        Douglas, Mrs. Walter Donald (Mahala Dutton)  female  48.0      1
242                       Spedden, Mr. Frederic Oakley    male  45.0      1
252                           Clark, Mr. Walter Miller    male  27.0      1
270                       McCaffry, Mr. Thomas Francis    male  46.0      0
272      Clark, Mrs. Walter Miller (Virginia McDowell)  female  26.0      1
287                         Snyder, Mr. John Pillsbury    male  24.0      1
293                              Dodge, Dr. Washington    male  53.0      1
306               Allison, Mr. Hudson Joshua Creighton    male  30.0      1
308                         Hays, Mr. Charles Melville    male  55.0      1
314              White, Mrs. John Stuart (Ella Holmes)  female  55.0      0
316                      Spencer, Mr. William Augustus    male  57.0      1
324                             Kreuchen, Miss. Emilie  female  39.0      0
327        Rosenshine, Mr. George (Mr George Thorne")"    male  46.0      0
342                              Sage, Mr. John George    male   NaN      1
343  Cardeza, Mrs. James Warburton Martinez (Charlo...  female  58.0      0
352                                Dibden, Mr. William    male  18.0      0
360                        Sage, Master. William Henry    male  14.5      8
365                     Sage, Mrs. John (Annie Bullen)  female   NaN      1
371                          Wilson, Miss. Helen Alice  female  31.0      0
374              Dodge, Mrs. Washington (Ruth Vidaver)  female  54.0      1
375                           Bowen, Miss. Grace Scott  female  45.0      0
390                         Payne, Mr. Vivian Ponsonby    male  23.0      0
397  Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...  female  48.0      1
400                            Bonnell, Miss. Caroline  female  30.0      0
407                         Widener, Mr. George Dunton    male  50.0      1
411    Minahan, Mrs. William Edward (Lillian E Thorpe)  female  37.0      1
414                       Oliva y Ocana, Dona. Fermina  female  39.0      0

     Parch        Ticket      Fare            Cabin Embarked
12       0         21228   82.2667              B45        S
24       3      PC 17608  262.3750  B57 B59 B63 B66        C
48       0         11813   76.2917              D15        C
53       2         19950  263.0000      C23 C25 C27        S
59       0      PC 17608  262.3750              B61        C
64       2      PC 17608  262.3750  B57 B59 B63 B66        C
69       4         19950  263.0000      C23 C25 C27        S
74       0        113503  211.5000             C130        C
75       0        113503  211.5000             C132        C
81       0      PC 17483  221.7792          C55 C57        S
96       0         19877   78.8500              C46        S
114      0      PC 17483  221.7792          C55 C57        S
118      0         13050   75.2417               C6        C
141      0        113781  151.5500              NaN        S
142      3      PC 17608  262.3750  B57 B59 B63 B66        C
150      1         11767   83.1583              C54        C
156      0      PC 17483  221.7792              C97        S
179      2      PC 17756   83.1583              E45        C
181      1      PC 17756   83.1583              E52        C
184      1      PC 17558  247.5208          B58 B60        C
188      2      CA. 2343   69.5500              NaN        S
196      2         16966  134.5000              E34        C
202      0      PC 17757  227.5250          C62 C64        C
212      0  S.O.C. 14879   73.5000              NaN        S
217      1         36928  164.8667              NaN        S
218      1        113503  211.5000              C80        C
234      0      PC 17599   71.2833              C85        C
236      0        110813   75.2500              D37        C
239      0      PC 17761  106.4250              C86        C
242      1         16966  134.5000              E34        C
252      0         13508  136.7792              C89        C
270      0         13050   75.2417               C6        C
272      0         13508  136.7792              C89        C
287      0         21228   82.2667              B45        S
293      1         33638   81.8583              A34        S
306      2        113781  151.5500          C22 C26        S
308      1         12749   93.5000              B69        S
314      0      PC 17760  135.6333              C32        C
316      0      PC 17569  146.5208              B78        C
324      0         24160  211.3375              NaN        S
327      0      PC 17585   79.2000              NaN        C
342      9      CA. 2343   69.5500              NaN        S
343      1      PC 17755  512.3292      B51 B53 B55        C
352      0  S.O.C. 14879   73.5000              NaN        S
360      2      CA. 2343   69.5500              NaN        S
365      9      CA. 2343   69.5500              NaN        S
371      0         16966  134.5000          E39 E41        C
374      1         33638   81.8583              A34        S
375      0      PC 17608  262.3750              NaN        C
390      0         12749   93.5000              B24        S
397      1         13567   79.2000              B41        C
400      0         36928  164.8667               C7        S
407      1        113503  211.5000              C80        C
411      0         19928   90.0000              C78        Q
414      0      PC 17758  108.9000             C105        C
Age outliers using IQR:
     PassengerId  Survived  Pclass  \
81          973         0       1
96          988         1       1

                                                 Name     Sex   Age  SibSp  \
81                                 Straus, Mr. Isidor    male  67.0      1
96  Cavendish, Mrs. Tyrell William (Julia Florence...  female  76.0      1

    Parch    Ticket      Fare    Cabin Embarked
81      0  PC 17483  221.7792  C55 C57        S
96      0     19877   78.8500      C46        S

After capping outliers:
             Fare         Age
count  417.000000  332.000000
mean    35.063601   30.231481
std     51.950059   14.047895
min      6.446828    0.857900
25%      7.895800   21.000000
50%     14.454200   27.000000
75%     31.500000   39.000000
max    262.375000   64.000000

ðŸŒŸ Exercise 5: Data Standardization and Normalization
Instructions
Assess the scale and distribution of numerical columns in the dataset.
Apply standardization to features with a wide range of values.
Normalize data that requires a bounded range, like [0, 1].
Hint: Consider using StandardScaler and MinMaxScaler from scikit-learnâ€™s preprocessing module.

In [4]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler
df = pd.read_csv('/content/titanic_ds.csv')
print("Scale and distribution of numerical columns in the dataset.:")
print(df.describe())
numerical_cols = df.select_dtypes(include=['float64', 'int64']).columns
scaler = StandardScaler()
df[['Fare', 'Age']] = scaler.fit_transform(df[['Fare', 'Age']])
minmax_scaler = MinMaxScaler()
df[['Pclass', 'SibSp', 'Parch']] = minmax_scaler.fit_transform(df[['Pclass', 'SibSp', 'Parch']])
print("\nAfter Standardization and Normalization:")
print(df.describe())

Scale and distribution of numerical columns in the dataset.:
       PassengerId    Survived      Pclass         Age       SibSp  \
count   418.000000  418.000000  418.000000  332.000000  418.000000
mean   1100.500000    0.363636    2.265550   30.272590    0.447368
std     120.810458    0.481622    0.841838   14.181209    0.896760
min     892.000000    0.000000    1.000000    0.170000    0.000000
25%     996.250000    0.000000    1.000000   21.000000    0.000000
50%    1100.500000    0.000000    3.000000   27.000000    0.000000
75%    1204.750000    1.000000    3.000000   39.000000    1.000000
max    1309.000000    1.000000    3.000000   76.000000    8.000000

            Parch        Fare
count  418.000000  417.000000
mean     0.392344   35.627188
std      0.981429   55.907576
min      0.000000    0.000000
25%      0.000000    7.895800
50%      0.000000   14.454200
75%      0.000000   31.500000
max      9.000000  512.329200

After Standardization and Normalization:
       PassengerId    Survived      Pclass           Age       SibSp  \
count   418.000000  418.000000  418.000000  3.320000e+02  418.000000
mean   1100.500000    0.363636    0.632775  2.675236e-17    0.055921
std     120.810458    0.481622    0.420919  1.001509e+00    0.112095
min     892.000000    0.000000    0.000000 -2.125914e+00    0.000000
25%     996.250000    0.000000    0.000000 -6.548515e-01    0.000000
50%    1100.500000    0.000000    1.000000 -2.311178e-01    0.000000
75%    1204.750000    1.000000    1.000000  6.163496e-01    0.125000
max    1309.000000    1.000000    1.000000  3.229374e+00    1.000000

            Parch          Fare
count  418.000000  4.170000e+02
mean     0.043594 -2.342917e-17
std      0.109048  1.001201e+00
min      0.000000 -6.380170e-01
25%      0.000000 -4.966178e-01
50%      0.000000 -3.791690e-01
75%      0.000000 -7.391031e-02
max      1.000000  8.536851e+00

 Exercise 6: Feature Encoding
Instructions
Identify categorical columns in the Titanic dataset, such as Sex and Embarked.
Use one-hot encoding for nominal variables and label encoding for ordinal variables.
Integrate the encoded features back into the main dataset.
Hint: Utilize pandas.get_dummies() for one-hot encoding and LabelEncoder from scikit-learn for label encoding.

In [15]:
from sklearn.preprocessing import LabelEncoder
df = pd.read_csv('/content/titanic_ds.csv')
categorical_cols = df.select_dtypes(include=['object']).columns
print("Categorical columns:\n", categorical_cols)
df = pd.get_dummies(df, columns=['Sex', 'Embarked'])
label_encoder = LabelEncoder()
df['Pclass'] = label_encoder.fit_transform(df['Pclass'])
print("Dataset after feature encoding:\n", df.head())

Categorical columns:
 Index(['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked'], dtype='object')
Dataset after feature encoding:
    PassengerId  Survived  Pclass  \
0          892         0       2
1          893         1       2
2          894         0       1
3          895         0       2
4          896         1       2

                                           Name   Age  SibSp  Parch   Ticket  \
0                              Kelly, Mr. James  34.5      0      0   330911
1              Wilkes, Mrs. James (Ellen Needs)  47.0      1      0   363272
2                     Myles, Mr. Thomas Francis  62.0      0      0   240276
3                              Wirz, Mr. Albert  27.0      0      0   315154
4  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  22.0      1      1  3101298

      Fare Cabin  Sex_female  Sex_male  Embarked_C  Embarked_Q  Embarked_S
0   7.8292   NaN       False      True       False        True       False
1   7.0000   NaN        True     False       False       False        True
2   9.6875   NaN       False      True       False        True       False
3   8.6625   NaN       False      True       False       False        True
4  12.2875   NaN        True     False       False       False        True

ðŸŒŸ Exercise 7: Data Transformation for Age Feature
Instructions
Create age groups (bins) from the Age column to categorize passengers into different age categories.
Apply one-hot encoding to the age groups to convert them into binary features.
Hint: Use pd.cut() for binning the Age column and pd.get_dummies() for one-hot encoding.

In [21]:
df = pd.read_csv('/content/titanic_ds.csv')
age_bins = [0, 12, 18, 25, 35, 60, 100]
age_labels = ['Kid', 'Teen', 'Young Adult', 'Adult', 'Middle-Aged', 'Senior']
df['AgeGroup'] = pd.cut(df['Age'], bins=age_bins, labels=age_labels, right=False)
print("Dataset with AgeGroup column:\n", df[['Age', 'AgeGroup']].head())
df = pd.get_dummies(df, columns=['AgeGroup'])
print("Dataset after one-hot encoding AgeGroup:\n", df.head())

Dataset with AgeGroup column:
     Age     AgeGroup
0  34.5        Adult
1  47.0  Middle-Aged
2  62.0       Senior
3  27.0        Adult
4  22.0  Young Adult
Dataset after one-hot encoding AgeGroup:
    PassengerId  Survived  Pclass  \
0          892         0       3
1          893         1       3
2          894         0       2
3          895         0       3
4          896         1       3

                                           Name     Sex   Age  SibSp  Parch  \
0                              Kelly, Mr. James    male  34.5      0      0
1              Wilkes, Mrs. James (Ellen Needs)  female  47.0      1      0
2                     Myles, Mr. Thomas Francis    male  62.0      0      0
3                              Wirz, Mr. Albert    male  27.0      0      0
4  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female  22.0      1      1

    Ticket     Fare Cabin Embarked  AgeGroup_Kid  AgeGroup_Teen  \
0   330911   7.8292   NaN        Q         False          False
1   363272   7.0000   NaN        S         False          False
2   240276   9.6875   NaN        Q         False          False
3   315154   8.6625   NaN        S         False          False
4  3101298  12.2875   NaN        S         False          False

   AgeGroup_Young Adult  AgeGroup_Adult  AgeGroup_Middle-Aged  AgeGroup_Senior
0                 False            True                 False            False
1                 False           False                  True            False
2                 False           False                 False             True
3                 False            True                 False            False
4                  True           False                 False            False